/* You can add global styles to this file, and also import other style files */
body {
    font-family: sans-serif;
}

.container {
    margin-left: 5%;
    margin-right: 5%;
}

.common-form {
    text-align: center;
    display: flex;
    margin: auto;
    flex-direction: column;
    width: 300px;

}

.form-input {
    height: 40px;
    
    margin-bottom: 20px;
    margin-left: 10px;
    margin-right: 10px;
    border: 1px solid gray;
    color:black;

}



.form-button {height: 40px;
    margin-bottom: 20px;
    margin-left: 10px;
    border: 1px solid gray;
    cursor: pointer;
   
    margin-left: 10px;
    margin-right:10px ;
    text-decoration-color: black;
}